beautifulsoup4==4.6.0
bs4==0.0.1
click==6.7
Flask==0.12.2
Flask-PyMongo==0.5.1
gunicorn==19.8.1
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
numpy==1.13.3
pandas==0.20.3
pymongo==3.6.1
requests==2.18.4
selenium==3.11.0
splinter==0.7.7
Werkzeug==0.12.2